@import 'tailwindcss';

@theme {
  --color-primary: #a855f7;
  --color-secondary: #06b6d4;
  --color-tertiary: #aa7600;
  --color-neutral: #0f0f12;
  --color-accent: #1b1b1e;
  --color-body: #f0f0f0;
}
